@font-face {
  font-family: spotify-bold;
  src: url(fonts/CircularSpotify-UI-Latin-OS2v3-Bold.woff2);
}
@font-face {
  font-family: spotify-medium;
  src: url(fonts/CircularSpotify-UI-Latin-OS2v3-Black.woff2);
}
@font-face {
  font-family: spotify-light;
  src: url(fonts/CircularSpotify-UI-Latin-OS2v3-Book.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: spotify, Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

body {
  font-size: 2rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  display: inline-block;
}

nav {
  background-color: #000;
}

.navBar {
  height: 54px;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.navList {
  display: none;
}

button {
  padding: 14px 32px;
  text-transform: uppercase;
  border-radius: 50px;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  font-family: spotify-medium;
}

button:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.font-light {
  font-family: spotify-light;
}

.font-medium {
  font-family: spotify-medium;
}

.font-bold {
  font-family: spotify-bold;
}

.container {
  padding: 0 15px;
}

/******** NAV SECTION ********/

.logo {
  height: 27px;
  width: 89px;
}

.hamburger {
  width: 32px;
  height: 32px;
}

/******** HERO SECTION ********/

.heroSection {
  background: url(/assets/bubbles-mobile.svg) center center / 100% 927px
      no-repeat,
    linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166))
      rgb(108, 14, 224);
  min-height: 425px;
  padding: 80px 15px 70px;
}

.heroContent {
  color: #fff;
  font-size: 48px;
  margin-bottom: 32px;
}

.phoneDiv {
  display: none;
}

/******** FEATURE SECTION ********/

.featuresSection {
  padding: 35px 15px;
}

.heading {
  text-align: center;
  font-size: 28px;
  font-family: spotify-medium;
  margin-bottom: 32px;
  line-height: 32px;
}

.feature {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 142px;
  margin-bottom: 20px;
}

.featureImg {
  aspect-ratio: 1;
  width: 30%;
  max-width: 115.83px;
  height: auto;
  margin-right: 20px;
}

.featureInfo {
  width: 63%;
  padding: 16px 0;
}

.featureHeading {
  font-size: 21px;
  margin-bottom: 10px;
  line-height: 21px;
}

.featureContent {
  font-size: 16px;
  line-height: 1.5;
}

/******** FREE SECTION ********/

.freeSection {
  background: url(/assets/bubbles-phone-mobile.svg) center top 16px / 506px
      512px no-repeat,
    white;
  background-position: center top 16px;
  background-repeat: no-repeat;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mobileScreen2 {
  width: 250px;
  height: auto;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 35px 35px 0 0;
}

.glare {
  width: 100%;
  height: 78px;
  background: linear-gradient(transparent, rgb(176, 35, 194));
  z-index: 10;
  margin-top: -75px;
}

.freeInfo {
  background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
  padding: 70px 15px 80px;
}

.freeContent {
  color: #fff;
  font-size: 32px;
  text-align: center;
}

/******** FAQ SECTION ********/

.faqSection {
  padding: 35px 15px;
}

.faqDiv {
  font-size: 18px;
  font-weight: 900;
}

.questionsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 28px;
}

.questionsDiv:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.questionsDiv:hover .question {
  text-decoration: underline;
}

.active {
  background-color: #f0f0f0;
}

.question {
  padding-right: 10px;
  font-size: 18px;
}

.questionsDiv i {
  font-size: 24px;
}

.answer {
  padding: 15px 32px 32px;
  font-weight: 400;
  font-size: 16px;
}

.readySection {
  background: url(/assets/lets-play.svg) center center / 100% no-repeat,
    linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%)
      rgb(108, 14, 224);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 112px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.readyContent {
  color: #fff;
  font-size: 48px;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .heroSection {
    background: url(/assets/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat,
      linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    min-height: 450px;
  }

  .heroContent {
    font-size: 64px;
  }

  .heading {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 72px;
  }

  .featuresSection {
    padding: 75px 15px;
  }

  .featureDiv {
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .feature {
    max-width: 360px;
  }

  .featureInfo {
    width: 55%;
  }

  .freeSection {
    display: none;
  }

  .freeContent {
    font-size: 40px;
  }

  .faqSection {
    padding: 75px 15px;
  }

  .readyContent {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .navBar {
    height: 80px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 970px;
  }

  .hamburger {
    display: none;
  }

  .logo {
    height: 40px;
    width: 132px;
  }

  .navList {
    display: flex;
  }

  .navItems {
    color: #fff;
    font-size: 16px;
    padding: 28px 17px;
    line-height: 24px;
    font-family: spotify-medium;
  }

  .navItems:hover {
    color: #1ed760;
    cursor: pointer;
  }

  .lastItem {
    padding: 28px 0 28px 17px;
  }

  .line {
    font-family: none;
    font-size: 16px;
    font-weight: 400;
  }

  .line:hover {
    color: #fff !important;
  }

  .heroSection {
    padding: 0px;
    height: 600px;
  }

  .heroContent {
    letter-spacing: -0.64px;
  }

  .heroWidth {
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
  }

  .phoneDiv {
    display: block;
    width: 40%;
  }

  .phoneImg {
    padding-top: 104px;
    margin: 0 auto;
    display: block;
    width: 281px;
    height: auto;
  }

  .heroDiv {
    padding: 180px 15px 0px 0px;
    width: 60%;
  }

  .featureDiv {
    max-width: 940px;
  }

  .feature {
    max-width: 100%;
    width: 50%;
  }

  .freeInfo {
    padding: 190px 15px;
  }

  .freeContent {
    font-size: 48px;
  }

  .readySection {
    height: 450px;
    padding: 0;
  }

  .readyContent {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  .navBar {
    max-width: 1170px;
  }

  .feature {
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 307px;
  }

  .featureDiv {
    max-width: 100%;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
  }

  .featureImg {
    margin: 0 auto 40px;
    width: 142px;
    max-width: 100%;
  }

  .featureInfo {
    width: 238px;
    margin: 0 auto;
  }

  .faqSection {
    margin: 0 auto;
    max-width: 1170px;
  }
}
